@model DichVuDatXeCongNghe.Models.KhachHang
@{
    ViewBag.Title = "QuanLySuaDoiKH";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Thay đổi thông tin người dùng</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/change.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="book">
            <div class="description">
                <h1><strong>Thay đổi</strong> thông tin người dùng</h1>
                <p>
                    Thay đổi tại đây!
                </p>
                <div class="quote">
                    <p>
                        Thay đổi thông tin Tên,Email...
                    </p>
                </div>
                
                <button class="subt" type="button"><a href="/QuanLy/QuanLy">Quay lại</a></button>
            </div>
            <div class="form">
                <form method="post" action="QuanLySuaDoiKH" enctype="multipart/form-data">

                    
                    <input type="hidden" name="MaKH" value="@Model.MaKH" readonly>
                   
                    <div class="inpbox">
                        <li>Số Điện Thoại</li>
                        <span class="flaticon-globe"></span>
                        <input value="@Model.SoDienThoai" type="text" name="SoDienThoai" readonly>
                    </div>
                    <div class="inpbox">
                        <li>Tên</li>
                        <span class="flaticon-globe"></span>
                        <input value="@Model.Ten" type="text" name="Ten">
                    </div>
                    <div class="inpbox">
                        <li>Ngày Tháng Năm Sinh</li>
                        <span class="flaticon-globe"></span>
                        <input value="@Model.NgayThangNamSinh.ToString("yyyy-MM-dd")" type="date" name="NgayThangNamSinh">
                    </div>
                    <div class="inpbox">
                        <li>Email</li>
                        <span class="flaticon-globe"></span>
                        <input value="@Model.Email" type="email" name="Email">
                    </div>
                    <div class="inpbox">
                        <li>Hình Ảnh</li>
                        <span class="flaticon-globe"></span>>
                        <img src="~/image/KhachHang/@Model.HinhAnh" style="height: 50px;width: 50px">
                    </div>
                    <div class="inpbox">
                        <li>Thay Đổi Ảnh</li>
                        <span class="flaticon-globe"></span>
                        <input type="file" id="HinhAnhUpload" name="HinhAnhUpload" accept="image/*">
                    </div>

                    <button class="subt" type="submit">Thay Đổi</button>


                </form>
            </div>
        </div>
    </div>
</body>
</html>


